<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium 4 Automation">
    <test name="QA Automation3">
        <parameter name="Browser" value="MicrosoftEdge"/>
        <classes>
            <class name="runner.TestRunner"></class>
        </classes>
    </test>
    <test name="QA Automation3">
        <parameter name="Browser" value="MicrosoftEdge"/>
        <classes>
            <class name="runner.TestRunner"></class>
        </classes>
    </test>
</suite>